<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="76x76" href="../../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../../assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        NeuAvenue
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- CSS Files -->
    <link href="../../assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../assets/css/now-ui-kit.css?v=1.3.0" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="../../assets/demo/demo.css" rel="stylesheet" />

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/jasny-bootstrap.min.css" rel="stylesheet" media="screen">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

</head>

<body class="index-page sidebar-collapse">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent " color-on-scroll="400">
        <div class="container">
            <div class="dropdown button-dropdown">
                <a href="#pablo" class="dropdown-toggle" id="navbarDropdown" data-toggle="dropdown">
                    <span class="button-bar"></span>
                    <span class="button-bar"></span>
                    <span class="button-bar"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-header">Dropdown header</a>
                    <a class="dropdown-item" href="/">Home</a>
                    <a class="dropdown-item" href="/About/AboutUs">About Us</a>
                    <a class="dropdown-item" href="/Login/Login">Login</a>
                    <a class="dropdown-item" href="/Recipe/Display">Display a collection Item</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/Data/Insert">Insert new Items</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/Data/List/1">Recipe List</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Recipe Admin</a>
                    <div class="dropdown-divider"></div>

                </div>
            </div>
            <div class="navbar-translate">
                <a class="navbar-brand" href="aboutus.chtml" rel="tooltip" title="Designed by NeuAvenue. Coded by Soukhee Lee" data-placement="bottom" target="_blank">
                    Neuavenue Recipe
                </a>
                <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar top-bar"></span>
                    <span class="navbar-toggler-bar middle-bar"></span>
                    <span class="navbar-toggler-bar bottom-bar"></span>
                </button>
            </div>

            <!-- The start of Search Page-->

            <div class="collapse navbar-collapse justify-content-end" id="navigation">
                <form class="form-inline my-lg-3 my-lg-0 mr-lg-n1" asp-action="FindRecipe" asp-controller="Recipe">
                    <!--
                    <select class="form-control mr-sm-2 col-4 list-group list-group-flush list-group-horizontal-sm" for="Category" name="searchCategory">
                        <option value="">Categories</option>
                        <option value="Meal Type">Meal Type</option>
                        <option value="Ingredient">Ingredient</option>
                        <option value="Diet and Health">Diet and Health</option>
                        <option value="Seasonal">Seasonal</option>
                        <option value="Dish Type">Dish Type</option>
                        <option value="World Cuisine">World Cuisine</option>
                        <option value="Special Collections">Special Collections</option>
                        <option value="Cooking Style">Cooking Style</option>

                    </select>
                    -->




                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <input class="form-control mr-sm-2 form-control-danger" type="text" placeholder="What are you looking for?" name="searchString">

                            <button class="btn btn-primary btn-round btn-sm" type="submit">
                                <i class="now-ui-icons ui-2_favourite-28"></i> Search
                            </button>
                        </li>

                    </ul>

                </form>
            </div>

            <!-- The End of Search Page-->

            <div class="collapse navbar-collapse justify-content-end" id="navigation" data-nav-image="../../assets/img/blurred-image-1.jpg">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Back to Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Login/Login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com/lee96312" target="_blank">
                            <i class="fab fa-twitter"></i>
                            <p class="d-lg-none d-xl-none">Twitter</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/profile.php?id=100001598210938" target="_blank">
                            <i class="fab fa-facebook-square"></i>
                            <p class="d-lg-none d-xl-none">Facebook</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/soukheelee/" target="_blank">
                            <i class="fab fa-instagram"></i>
                            <p class="d-lg-none d-xl-none">Instagram</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->


    @RenderBody()

    <!-- Start footer -->
    <footer class="footer">
        <div class=" container ">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.neuavenue.com">
                            Neuavenue
                        </a>
                    </li>
                    <li>
                        <a href="/About/AboutUs">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="/Blogs/Blog">
                            Blog
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright" id="copyright">

            </div>
        </div>
    </footer>
    <!-- End footer-->
    <!--   Core JS Files   -->
    <script src="../../assets/js/core/jquery.min.js" type="text/javascript"></script>
    <script src="../../assets/js/core/popper.min.js" type="text/javascript"></script>
    <script src="../../assets/js/core/bootstrap.min.js" type="text/javascript"></script>
    <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
    <script src="../../assets/js/plugins/bootstrap-switch.js"></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="../../assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
    <!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
    <script src="../../assets/js/plugins/bootstrap-datepicker.js" type="text/javascript"></script>
    <!--  Google Maps Plugin    -->
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
    <script src="../../assets/js/now-ui-kit.js?v=1.3.0" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            // the body of this function is in assets/js/now-ui-kit.js
            nowuiKit.initSliders();
        });

        function scrollToDownload() {

            if ($('.section-download').length != 0) {
                $("html, body").animate({
                    scrollTop: $('.section-download').offset().top
                }, 1000);
            }
        }
    </script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/4.0.0/css/jasny-bootstrap.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/4.0.0/js/jasny-bootstrap.min.js"></script>


</body>
</html>
