

    <div class="wrapper">
        <div class="page-header clear-filter" filter-color="orange">
            <div class="page-header-image" data-parallax="true" style="background-image:url('./assets/img/index-header.jpg');">
            </div>
            <div class="container">
                <div class="content-center brand">
                    <img class="n-logo" src="../../assets/img/now-logo.png" alt="">
                    <h1 class="h1-seo">NOW IS THE TIME TO COOK</h1>
                    <h3>Find and share everyday cooking inspiration</h3>
                </div>
            </div>
        </div>




        <div class="section">
            <div class="container text-center">
                <div class="row justify-content-md-center">
                    <div class="col-md-12 col-lg-8">
                        <h2 class="title">Welcome to NeuAvenue's Recipes</h2>
                        <h5 class="description">Every dish deserves as much love as your main course, so take a look at our lovely suggestions and make every mouthful magical</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-signup" style="background-image: url('assets/img/gallery-1472739843-ghk100116-black-magic-punch.jpg'); background-size: cover; background-position: top center; min-height: 700px;">
            <div class="container">
                <div class="row">
                    <div class="card card-signup" data-background-color="orange">
                        <!-- <form class="form" method="" action=""> -->
                        <form>
                            <div class="card-header text-center">
                                <h3 class="card-title title-up">Sign Up</h3>
                                <div class="social-line">
                                    <a href="#pablo" class="btn btn-neutral btn-facebook btn-icon btn-round">
                                        <i class="fab fa-facebook-square"></i>
                                    </a>
                                    <a href="#pablo" class="btn btn-neutral btn-twitter btn-icon btn-lg btn-round">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a href="#pablo" class="btn btn-neutral btn-google btn-icon btn-round">
                                        <i class="fab fa-google-plus"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="input-group no-border">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="now-ui-icons users_circle-08"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="First Name...">
                                </div>
                                <div class="input-group no-border">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="now-ui-icons text_caps-small"></i>
                                        </span>
                                    </div>
                                    <input type="text" placeholder="Last Name..." class="form-control" />
                                </div>
                                <div class="input-group no-border">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="now-ui-icons ui-1_email-85"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Email...">
                                </div>
                                <!-- If you want to add a checkbox to this form, uncomment this code -->
                                <!-- <div class="checkbox">
                                              <input id="checkboxSignup" type="checkbox">
                                                  <label for="checkboxSignup">
                                                  Unchecked
                                                  </label>
                                              </div> -->
                            </div>
                            <div class="card-footer text-center">
                                <a href="#pablo" class="btn btn-neutral btn-round btn-lg">Get Started</a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col text-center">
                    <a href="/Login/Login" class="btn btn-outline-default btn-round btn-white btn-lg" target="_blank">View Login Page</a>
                </div>
            </div>
        </div>
        <div class="section section-examples" data-background-color="black">
            <div class="space-50"></div>
            <div class="container text-center">
                <div class="row">
                    <div class="col">
                        <a href="/Data/Insert" target="_blank">
                            <img src="assets/img/Index-Add-Recipe-Page.PNG" alt="Image" class="img-raised">
                        </a>
                        <a href="/Data/Insert" class="btn btn-outline-default btn-primary btn-round">Insert Recipe</a>
                    </div>
                    <div class="col">
                        <a href="/Recipes/Display" target="_blank">
                            <img src="assets/img/Display-Recipe-List.PNG" alt="Image" class="img-raised">
                        </a>
                        <a href="/Recipes/Display" class="btn btn-outline-default btn-primary btn-round">Display Recipes</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-download" id="#download-section" data-background-color="black">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="text-center col-md-12 col-lg-8">
                        <h3 class="title">25 best homemade snacke</h3>
                        <h5 class="description">When you're looking for a little fun and adventure, there's nothing quite like a road trip to get you out and about. But as fun as these trips can be, packing snacks that stand long drives can be tricky. Here are the tastiest recipes that prove it's the journey, not the destination, that really counts. </h5>
                    </div>
                    <div class="text-center col-md-12 col-lg-8">
                        <a href="https://www.canada.ca/en/health-canada/services/canada-food-guide/tips-healthy-eating/meal-planning-cooking-healthy-choices/recipes.html" class="btn btn-primary btn-lg btn-round" role="button">
                            Canada Recipes
                        </a>
                        <a href="https://www.foodnetwork.ca/canada-day/photos/best-road-trip-snacks-recipes/#!Zucchini-and-Carrot-Breakfast-muffins" target="_blank" class="btn btn-lg btn-outline-primary btn-round" role="button">
                            Best Homemade Snacks        
                        </a>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <div class="row text-center mt-5">
                    <div class="col-md-8 ml-auto mr-auto">
                        <h2>Want more comfort Food Recipes?</h2>
                        <h5 class="description">
                            Comfort food defies seasonality, and these summer-fresh recipes prove that. Sometimes, light and bright isn’t what you’re after, but hearty, meaty and hot-off-the-grill. With mains and sides, picnic-perfect sandwiches and more, there’s a decadent dish to be found that suits any summertime comfort food craving.
                        </h5>
                    </div>
                    <div class="col-md-12">
                        <a href="https://www.foodnetwork.ca/comfort-food/photos/summer-comfort-food-recipes/#!slow-cooker-barbecue-ribs-summer" 
                            class="btn btn-neutral btn-round btn-lg" target="_blank">
                                <i class="now-ui-icons arrows-1_share-66"></i> Comfort Food Recipes
                        </a>
                    </div>
                </div>
                <br>
                <br>
                <div class="row justify-content-md-center sharing-area text-center">
                    <div class="text-center col-md-12 col-lg-8">
                        <h3>Thank you for supporting us!</h3>
                    </div>
                    <div class="text-center col-md-12 col-lg-8">
                        <a target="_blank" href="https://www.twitter.com/lee96312" class="btn btn-neutral btn-icon btn-twitter btn-round btn-lg" rel="tooltip" title="Follow us">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a target="_blank" href="https://www.facebook.com/profile.php?id=100001598210938" class="btn btn-neutral btn-icon btn-facebook btn-round btn-lg" rel="tooltip" title="Like us">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                        <a target="_blank" href="https://www.linkedin.com/in/billy-lee-07268952/" class="btn btn-neutral btn-icon btn-linkedin btn-lg btn-round" rel="tooltip" title="Follow us">
                            <i class="fab fa-linkedin"></i>
                        </a>
                        <a target="_blank" href="https://github.com/BillyLee96312/neuCRM" class="btn btn-neutral btn-icon btn-github btn-round btn-lg" rel="tooltip" title="Star on Github">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sart Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="now-ui-icons ui-1_simple-remove"></i>
                    </button>
                    <h4 class="title title-up">Modal title</h4>
                </div>
                <div class="modal-body">
                    <p>
                        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default">Nice Button</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--  End Modal -->
    <!-- Mini Modal -->
    <div class="modal fade modal-mini modal-primary" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <div class="modal-profile">
                        <i class="now-ui-icons users_circle-08"></i>
                    </div>
                </div>
                <div class="modal-body">
                    <p>Always have an access to your profile</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link btn-neutral">Back</button>
                    <button type="button" class="btn btn-link btn-neutral" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>




